<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nikhil.spycam">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spycam_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">

        <!-- ================ All activities in application ================ -->

        <activity android:name="com.nikhil.spycam.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nikhil.spycam.activities.HomeActivity" />
        <activity android:name="com.nikhil.spycam.activities.SettingActivity" />
        <activity android:name="com.nikhil.spycam.activities.MyVideosActivity" />
        <activity android:name="com.nikhil.spycam.activities.DrawOverAppActivity" />
        <activity android:name="com.nikhil.spycam.activities.ContactUsActivity" />
        <activity android:name="com.nikhil.spycam.activities.HelpActivity" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- ============= All Service in Application ============= -->
        <service
            android:name="com.nikhil.spycam.services.BackGroundVideoRecorderService"
            android:exported="false" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d435aad73e9bce82e496583f18026e5d0d2be40a" />
    </application>

</manifest>